
h1 {
    color: rgb(6, 6, 6);
    margin-top: 150px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


#input {
   display: inline-block;
    margin-left: 50%; 
    margin-right: 50%;
    margin-top: 50px;
    width: 200px;
    height: 100px;
    text-align: start;
    
}

.div{
  
    margin-left: 30%;
    background-color: rgb(202, 250, 234);
    margin-right: 30%;
}
.objetos{
    display: inline-block;
    margin-left: 0px;
   
}
    
#add-button{

    display: inline-block; 
    margin-left: 120px; 
   margin-bottom: 40px;
    width: 60px;
    height: 60px;
    background-color: rgb(230, 249, 185);
}

#delete-button {
    display: inline-block; 
    margin-left: 20px; 
    margin-top: 60%;
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
    background-color: rgb(230, 249, 185);
}

h4{
    margin-left: 45%;
    font-family: 'Courier New', Courier, monospace;
;
}
ul{

    background-color: cornsilk;
    margin-left: 40%;
    margin-right: 40%;
    list-style: square;

}


